---
title: Homepage
---

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Your Ticket To Study Abroad</h1>
            <hr>
            <p>Bridge education foundation is one of the well-established and esteemed educational consultancy based in the heart of Kathmandu, Nepal. We help students to pursue higher education overseas. Motivated by our core values, ethics, expertise and leadership, we are one of the most trusted name in the field of overseas education.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading"> We will assist you in each step until your dream comes true.</h2>
                <hr class="light">
                <p class="text-faded">Bridge education foundation is one of the well-established and esteemed educational consultancy based in the heart of Kathmandu, Nepal. We help students to pursue higher education overseas. Motivated by our core values, ethics, expertise and leadership, we are one of the most trusted name in the field of overseas education. Facilitating best educational opportunities in the prestigious universities abroad, we rightly set the academic goals for aspiring students. Committed to the objectives of integrity and excellence, Bridge is an acknowledged leader in overseas educational consultancy in Kathmandu, Nepal.
Bridge education foundation provides in-depth services and guidelines from the beginning to the end of the study process. We understand the initial decisions and processes of studying abroad can be challenging on student and their families. BEF strive to make these steps and transitions of studying abroad as smooth as possible through an interactive counselling process with students and their guardians. We offer students a choice of thousands of courses at various leading educational institutions in USA, Canada, Australia, New Zealand, UK, Ireland, India, Germany, Sweden, Denmark, Spain, Italy, Austria, Cyprus, and many other European countries.
</p>
                <a href="#" class="btn btn-default btn-xl">Our Culture </a>
                <a href="#" class="btn btn-default btn-xl">Mission & Vision </a>
                <a href="#" class="btn btn-default btn-xl">Quality of Service </a>
                <a href="#" class="btn btn-default btn-xl">Our Values</a>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading"> Our Services</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Test Preparation</h3>
                    <p class="text-muted">Our templates are updated regularly so they don't break.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa-4x glyphicon glyphicon-education wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Study Abroad</h3>
                    <p class="text-muted">You can use this theme as is, or you can make changes!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Visa Prepartion</h3>
                    <p class="text-muted">We update dependencies to keep things fresh.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Counstaling Services</h3>
                    <p class="text-muted">You have to make your websites with love these days!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contact Us</h2>
                <hr class="primary">
                <p>Your next goal is just a call away.</p>
            </div>
            <div class="col-sm-3 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>
                <p> Phone: 1-4232561 | Cell: 9808592872 </p>
            </div>
            <div class="col-sm-3 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:info@bridgeeducation.edu.np">info@bridgeeducation.edu.np</a></p>
            </div>
            <div class="col-sm-3 text-center">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:info@bridgeeducation.edu.np">info@bridgeeducation.edu.np</a></p>
            </div>
            <div class="col-sm-3 text-center">
                <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:info@bridgeeducation.edu.np">info@bridgeeducation.edu.np</a></p>
            </div>
        </div>
    </div>
</section>
