---
title: Test Preparation page
---
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Test Preparation</h1>
            <hr>
            <p>We Specialize in all the following test preparation. </p>
            <a href="#ielts" class="btn btn-primary btn-xl page-scroll">IELTS</a>
            <a href="#toefl" class="btn btn-primary btn-xl page-scroll">TOEFL</a>
            <a href="#pte" class="btn btn-primary btn-xl page-scroll">PTE</a>
            <a href="#gre" class="btn btn-primary btn-xl page-scroll">GRE</a>
            <a href="#sat" class="btn btn-primary btn-xl page-scroll">SAT</a>
            <a href="#gmat" class="btn btn-primary btn-xl page-scroll">GMAT</a>
        </div>
    </div>
</header>

 <div id = "test_prep">
    <div id = "ielts">
      <h3> IELTS </h3>
        <p> The International English Language Testing System, or IELTS is an international standardized test of English language proficiency for non-native English language speakers. It is jointly managed by the British Council, IDP: IELTS Australia and Cambridge English Language Assessment, and was established in 1989. IELTS is one of the major English-language tests in the world. IELTS is accepted by most Australian, British, Canadian and New Zealand academic institutions, by over 3,000 academic institutions in the United States, and by various professional organizations across the world.
            IELTS is the only Secure English Language Test approved by UK Visas and Immigration (UKVI) for visa customers applying both outside and inside the UK. It is also a requirement for immigration to Australia and New Zealand. In Canada, IELTS, TEF, or CELPIP are accepted by the immigration authority.
            No minimum score is required to pass the test. An IELTS result or Test Report Form is issued to all test takers with a score from "band 1" ("non-user") to "band 9" ("expert user") and each institution sets a different threshold. There is also a "band 0" score for those who did not attempt the test. Institutions are advised not to consider a report older than two years to be valid, unless the user proves that they have worked to maintain their level.
            In 2014, 2.5 million tests were taken in more than 140 countries, up from 2 million tests in 2012, 1.7 million tests in 2011 and 1.4 million tests in 2009. In 2007, IELTS administered more than one million tests in a single 12-month period for the first time ever, making it the world's most popular English language test for higher education and immigration.
            There are four sub-tests, or modules, to the IELTS test: Reading, Writing, Listening and Speaking. Students must sit all four sub-tests. While all students take the same Listening and Speaking tests, they sit different Reading and Writing tests, depending on whether they have selected the Academic Module or the General Training Module.
            On the day of the test, the four subsections will be taken in the following order:
        </p>
        <img src = "images/ielts.png">
        <p> The Speaking test may even take place a day or two later at some centres
            IELTS Listening test lasts for about 30 minutes. It consists of four sections, played on cassette tape, in order of increasing difficulty. Each section might be a dialogue or a monologue. The test is played once only, and the questions for each section must be answered while listening, although time is given for students to check their answers.
            IELTS Reading test lasts for 60 minutes. Students are given an Academic Reading test, or a General Training Reading test. Both tests consist of three sections, and in both tests the sections are in order of increasing difficulty.
            IELTS Writing test also lasts for 60 minutes. Again, students take either an Academic Module, or a General Training Module. Students must perform two writing tasks, which require different styles of writing. There is no choice of question topics.
            IELTS Speaking test consists of a one-to-one interview with a specially trained examiner. The interview is recorded and has three separate parts:
            An introduction and interview, an individual long turn where the candidate speaks for one or two minutes on a particular topic, and a two-way discussion thematically linked to the individual long turn. This interview will last for approximately 11-14 minutes.
        </p>
    </div>

    <div id="toefl">
      <h3> TOEFL </h3>
        <p> Test of English as a Foreign Language is a standardized test to measure the English language ability of non-native speakers wishing to enroll in English-speaking universities. The test is accepted by many English-speaking academic and professional institutions. TOEFL is one of the two major English-language tests in the world, the other being the IELTS.
            TOEFL is a trademark of the Educational Testing Service (ETS), a private non-profit organization, which designs and administers the tests. ETS issues official score reports, sent independently to institutions, for two years following the test.
            Since its introduction in late 2005, the TOEFL Internet-based Test (IBT) format has progressively replaced the computer-based tests (CBT) and paper-based tests (PBT), although paper-based testing is still used in select areas. The TOEFL IBT test has been introduced in phases, with the United States, Canada, France, Germany, and Italy in 2005 and the rest of the world in 2006, with test centers added regularly. The CBT was discontinued in September 2006 and these scores are no longer valid.
            Like any standardized language testing system, TOEFL, IBT which is conducted online evaluated a test taker's receptive & expressive skills through four modules-reading, listening, writing and speaking. Each of the modules is tested on a scale of 0 to 30. Therefore, the total scores received range from 0 to 120. The test is taken on fixed dates at ETS-authorized internet based testing centers. Most areas where the test is offered have 30 to 40 administrations per years, the numbers of which depends on both the capacity of the test centers and the volume of the candidates. Format of TOEFL,IBT is mention below.
        </p>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>Task</th>
              <th>Description</th>
              <th>Approximate Time</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Reading</td>
              <td>3–5 passages, each containing 12–14 questions</td>
              <td>60–80 minutes</td>
            </tr>
            <tr>
              <td>Listening</td>
              <td>6–9 passages, each containing 5–6 questions</td>
              <td>60–90 minutes</td>
            </tr>
            <tr>
              <td>Break</td>
              <td>Mandatory break</td>
              <td>10 minutes</td>
            </tr>
            <tr>
              <td>Speaking</td>
              <td>6 tasks</td>
              <td>20 minutes</td>
            </tr>
            <tr>
              <td>Writing</td>
              <td>2 tasks</td>
              <td>50 minutes</td>
            </tr>
          </tbody>
        </table>
    </div>

    <div id = "pte">
      <h3> PTE </h3>
        <p> Pearson Test of English is a unit of the Pearson PLC group, dedicated to assessing and validating the English language usage of non-native English speakers. The tests include PTE Academic, PTE General (formerly London Tests of English), and PTE Young Learners (formerly London Tests of English for Children). These are scenario-based exams, accredited by the QCA and administered in association with Edexcel, the UK’s largest examining body.
            In 2009, Pearson Language Tests launched the Pearson Test of English Academic (PTE Academic) which is endorsed by Graduate Management Admission Council (GMAC), the organisation responsible for the GMAT (Graduate Management Admission Test). The test score has been aligned to the levels defined in the Common European Framework of Reference for Languages (CEF of CEFR). PTE Academic is delivered through the Pearson VUE centres which are also responsible for delivering the GMAT (Graduate Management Admission Test) worldwide.
            Upon release, it was recognized by nearly 6,000 organizations. The test is approved for use by the UK Border Agency and the Australian Department of Immigration and Citizenship for visa applications. The test is read by a computer rather than a human grader to reduce waiting times of the results for students.
            The Pearson Test of English Academic (PTE Academic) is an English language test designed to assess the readiness of non-native English speakers to participate in a university-level English language instruction program. Pearson created PTE Academic in response to demand from institutions, government and other organizations for a more accurate way of testing non - native English language students who enter the English-speaking academia world. PTE Academic is endorsed by the Graduate Management Admission Council. Amongst other universities, London Business School in the UK, Harvard Business School, Stanford Graduate School of Business, and Yale University in the USA accept PTE Academic scores. Other institutions in other countries, including Spain, France and China, have also signed up to accept PTE Academic. These include leading business schools such as INSEAD and HEC Paris in France, IESE, IE Business School and ESADE in Spain and SDA Bocconi in Italy . In addition to the business schools, there are also a number of arts and music colleges who accept the exam's scores. In February 2013, opened a new test center in Petaling Jaya, Malaysia in association with the Malaysian British Educational Cooperation Services.
            It is a computer-based exam which focuses on real-life English used in academic surroundings. This is to say that integrated language is used throughout the test and students will listen to a variety of accents and academic language which they will encounter at English-speaking higher education institutions.The exam will include an unmarked voice recording of the candidate, which is part of advanced biometric data that should assist institutions in verifying the identity of candidates and should aid them with their admission decisions. The test will be a maximum of 3 hours long and takers can expect their results to be delivered to them, online, within 5 working days.
            Test scores are reported on the Global Scale of English, a standardized, numeric scale from 10 to 90 which can measure English language proficiency more precisely with reference to the widely known set of levels distinguished in the Common European Framework of Reference for Languages, or CEFR.
        </p>
    </div>

    <div id = "sat">
      <h3> SAT </h3>
        <p> The SAT is a standardized test widely used for college admissions in the United States. It was first introduced in 1926, and its name and scoring have changed several times, being originally called the Scholastic Aptitude Test, then the Scholastic Assessment Test, then the SAT I: Reasoning Test, then the SAT Reasoning Test, and now simply the SAT.
            The SAT is owned and published by the College Board, a private, nonprofit organization in the United States. It is developed and administered on behalf of the College Board by the Educational Testing Service. The test is intended to assess a student's readiness for college. It is designed to not be aligned to high school curriculum.The current SAT, introduced in 2016, takes 3 hours to finish plus 50 minutes for the SAT with essay, and as of 2014 costs US$52.50 (up to US$101.5 outside of the United States), excluding late fees. Possible scores on the SAT range from 400 to 1600, combining test results from two 800-point sections: Mathematics and Critical reading and Writing. Taking the SAT or its competitor, the ACT, is required for freshman entry to many, but not all, universities in the United States.
            On March 5, 2014, the College Board announced that a redesigned version of the SAT would be administered for the first time in 2016. The exam reverted to the 1600-point scale, the essay was made optional, and students now have 3 hours to take the exam plus 50 additional minutes to complete the essay.
            SAT consists of three major sections: Critical Reading, Mathematics, and Writing. Each section receives a score on the scale of 200–800. All scores are multiples of 10. Total scores are calculated by adding up scores of the three sections. Each major section is divided into three parts. There are 10 sub-sections, including an additional 25-minute experimental or "equating" section that may be in any of the three major sections. The experimental section is used to normalize questions for future administrations of the SAT and does not count toward the final score. The test contains 3 hours and 45 minutes of actual timed sections; most administrations (after accounting for orientation, distribution of materials, completion of biographical sections, and fifteen minutes of timed breaks) run for about four and a half hours. The questions range from easy, medium, and hard depending on the scoring from the experimental sections. Easier questions typically appear closer to the beginning of the section while harder questions are toward the end in certain sections. This is not true for every section (the Critical Reading section is in chronological order) but it is the rule of thumb mainly for math, grammar, and the 19 sentence-completions in the reading sections.
            The SAT is offered seven times a year in the United States; in October, November, December, January, March (or April, alternating), May, and June. The test is typically offered on the first Saturday of the month for the November, December, May, and June administrations. In other countries, the SAT is offered on the same dates as in the United States except for the first spring test date (i.e., March or April), which is not offered. Candidates wishing to take the test may register online at the College Board's website, by mail, or by telephone, at least three weeks before the test date.
        </p>
    </div>

    <div id = "gre">
      <h3> GRE </h3>
        <p> The Graduate Record Examination (GRE) is a standardized test that is an admissions requirement for most graduate schools in the United States. Created and administered by the Educational Testing Service (ETS) in 1949, the exam aims to measure verbal reasoning, quantitative reasoning, analytical writing, and critical thinking skills that have been acquired over a long period of time and that are not entirely based on any specific field of study outside of the GRE itself. The GRE General Test is offered as a computer-based exam administered at prometric testing centers.
            In the graduate school admissions process, the level of emphasis that is placed upon GRE scores varies widely between schools and between departments within schools. The importance of a GRE score can range from being a mere admission formality to an important selection factor.
            The GRE was significantly overhauled in August 2011, resulting in an exam that is not adaptive on a question-by-question basis, but rather by section, so that the performance on the first verbal and math sections determine the difficulty of the second sections presented. Overall, the test retained the sections and many of the question types from its predecessor, but the scoring scale was changed to a 130 to 170 scale (from a 200 to 800 scale).
            The cost to take the test is US$205, although ETS will reduce the fee under certain circumstances. They also promote financial aid to those GRE applicants who prove economic hardship. ETS does not release scores that are older than 5 years, although graduate program policies on the acceptance of scores older than 5 years will vary.
            The structure of the computer-based GRE revised General Test consists of five sections. The first section is always the analytical writing section involving separately timed issue and argument tasks. The next four sections consist of two verbal reasoning sections, two quantitative reasoning sections, and either an experimental or research section. These five sections may occur in any order. The experimental section does not count towards the final score but is not distinguished from the scored sections. Unlike the computer adaptive test before August 2011, the GRE revised General Test is a multistage test, where the examinee's performance on earlier sections determines the difficulty of subsequent sections. This format allows the examined person to freely move back and forth between questions within each section, and the testing software allows the user to "mark" questions within each section for later review if time remains. The entire testing procedure lasts about 3 hours 45 minutes. One-minute breaks are offered after each section and a 10-minute break after the third section.
            The paper-based GRE General Test consists of six sections and is only available in areas where computer-based testing is unavailable. The analytical writing is split up into two sections, one section for each issue and argument task. The next four sections consist of two verbal and two quantitative sections in varying order. There is no experimental section on the paper-based test.
            Many graduate schools in the United States require GRE results as part of the admissions process. The GRE is a standardized test intended to measure the abilities of all graduates in tasks of general academic nature, regardless of their fields of specialization. The GRE is intended to measure the extent to which undergraduate education has developed an individual's verbal and quantitative skills in abstract thinking.

            Unlike other standardized admissions tests (such as the SAT, LSAT, and MCAT), the use and weight of GRE scores vary considerably not only from school to school, but from department to department, and from program to program also. Programs in liberal arts topics may only consider the applicant's verbal score to be of interest, while mathematics and science programs may only consider quantitative ability; however, since most applicants to mathematics, science, or engineering graduate programs all have high quantitative scores, the verbal score can become a deciding factor even in these programs. Admission to graduate schools depends on a complex mix of several different factors. Schools see letters of recommendation, statement of purpose, GPA, GRE score etc. Some schools use the GRE in admissions decisions, but not in funding decisions; others use the GRE for the selection of scholarship and fellowship candidates, but not for admissions. In some cases, the GRE may be a general requirement for graduate admissions imposed by the university, while particular departments may not consider the scores at all. Graduate schools will typically provide information about how the GRE is considered in admissions and funding decisions, and the average scores of previously admitted students. The best way to find out how a particular school or program evaluates a GRE score in the admissions process is to contact the person in charge of graduate admissions for the specific program in question (and not the graduate school in general).
        </p>
    </div>

    <div id = "gmat">
      <h3> GMAT </h3>
        <p> The Graduate Management Admission is a computer adaptive test (CAT) intended to assess certain analytical, writing, quantitative, verbal, and reading skills in written English for use in admission to a graduate management program, such as an MBA. It requires knowledge of certain grammar and knowledge of certain algebra, geometry, and arithmetic. The GMAT does not measure business knowledge or skill, nor does it measure intelligence. According to the test owning company, the Graduate Management Admission Council (GMAC), the GMAT assesses analytical writing and problem-solving abilities, while also addressing data sufficiency, logic, and critical reasoning skills that it believes to be vital to real-world business and management success. It can be taken up to five times a year. Each attempt must be at least 16 days apart.
            GMAT is a registered trademark of the Graduate Management Admission Council. More than 5,900 programs offered by more than 2,100 universities and institutions use the GMAT exam as part of the selection criteria for their programs. Business schools use the test as a criterion for admission into a wide range of graduate management programs, including MBA, Master of Accountancy, and Master of Finance programs. The GMAT exam is administered in standardized test centers in 112 countries around the world. According to a survey conducted by Kaplan Test Prep, the GMAT is still the number one choice for MBA aspirants despite the increasing acceptability of GRE scores. According to GMAC, it has continually performed validity studies to statistically verify that the exam predicts success in business school programs.
            The GMAT exam consists of four sections: An analytical writing assessment, integrated reasoning, the quantitative section, and the verbal section. Total testing time is three and a half hours, but test takers should plan for a total time of approximately four hours, with breaks. Test takers have 30 minutes for the analytical writing assessment and another 30 minutes to work through 12 questions, which often have multiple parts, on the integrated reasoning section and are given 75 minutes to work through 37 questions in the quantitative section and another 75 minutes to get through 41 questions in the verbal section.
        </p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Section</th>
              <th>Duration in Minutes</th>
              <th>Number of Questions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Analytical writing assessment</td>
              <td>30</td>
              <td>1 Essay</td>
            </tr>
            <tr>
              <td>Integrated reasoning</td>
              <td>30</td>
              <td>12</td>
            </tr>
            <tr>
              <td>Quantitative</td>
              <td>75</td>
              <td>37</td>
            </tr>
            <tr>
              <td>Verbal</td>
              <td>75</td>
              <td>41</td>
            </tr>
          </tbody>
        </table>
        <p> The quantitative and verbal sections of the GMAT exam are both multiple-choice and are administered in the computer-adaptive format, adjusting to a test taker’s level of ability. At the start of the quantitative and verbal sections, test takers are presented with a question of average difficulty. As questions are answered correctly, the computer presents the test taker with increasingly difficult questions and as questions are answered incorrectly the computer presents the test taker with questions of decreasing difficulty. This process continues until test takers complete each section, at which point the computer will have an accurate assessment of their ability level in that subject area and come up with a raw score for each section.
            The total GMAT score ranges from 200 to 800 and measures performance on the quantitative and verbal sections together (performance on the AWA and IR sections do not count toward the total score, those sections are scored separately). Scores are given in increments of 10 (e.g. 540, 550, 560, 570, etc.). From the most recent data released by GMAC, the average GMAT score of all test takers is about 540.
        </p>
    </div>
  </div>
